*{
    box-sizing: border-box;
    border: 1px rgb(61, 27, 155) solid;
}
body{
    max-width: 700px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* 
	#a2c4c9	(162,196,201) green
#d7aca8	(215,172,168) pink
#cfcdc8	(207,205,200) gray
#fff1d1	(255,241,209) yellow
#e3d1c4	(227,209,196) pinky
*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div{
    font-weight: bold;
    font-size: larger;
    margin-left: 10px;
    flex: 1;
}

nav ul{
    display: flex;
    list-style: none;
    gap:5px;
    padding: 0;
    flex: wrap;
    flex: 1;
}
nav ul a{
    text-decoration: none;
}
nav ul li {
    flex: 1;
}
header{
    background-color: #d7aca8	;
    padding: 5px 55px 15px;
}
.about-js{
    display: flex;
    justify-content: space-between;
}
.left{
    flex:1;
    padding: 10px;
    line-height: 1.4;
}
.right{
    flex:1;
 
}
.sign-button{
    background-color: #fff1d1;
    font-size: large;
    font-weight: 600;
   border: black 1px solid;
   border-radius: 10%;
   padding: 10px 20px;
}