*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    max-width: 800px;
    margin: 0 auto;
    font-family: Roboto, serif;
    background-color: #f1eee8;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
}
nav div{
    font-weight: bold;
    font-size: larger;
    margin-left: 10px;
    flex: 1;
}

nav ul{
    display: flex;
    list-style: none;
    gap:5px;
    padding: 0;
    flex: wrap;
    flex: 1;
    text-align: end;
}
nav ul a{
    text-decoration: none;
    color: #f9faf8;
}
nav ul li {
    flex: 1;
}
header{
    background-color: #1f2937	;
    padding: 5px 55px 75px;
    color: #f9faf8;
}
.about-js{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left{
    flex:1;
    padding: 10px;
    line-height: 1.2;
    
}
.left h1{
   margin-bottom: 10px;
    
}
.right{
    flex:1;
     overflow: hidden;
   
}
.right img{
    height: 100%;
    width: 100%;
    
}
.sign-button{
    background-color: #fff1d1;
    font-size: large;
    font-weight: 600;
   border: black 1px solid;
   border-radius: 10%;
   padding: 10px 20px;
   margin-top: 10px;
}
footer{
 
    background-color: #1f2937	;
padding: 14px 0;
    color: #f9faf8;
 text-align: center;
}
.data-types{
        padding: 5px 55px 15px;
        background-color: #f9faf8;
}
 
.data-types h3{ 
        text-align: center;
           margin: 20px 0;
}
.container-types{
    display: flex;
       justify-content: center;
       padding: 10px 10px 50px;
       gap: 10px;
       flex-wrap: wrap;
}
.type-info{
     flex: 1;
    gap:2px;
text-align: center;
 
 
}
.type{
     height: 70px;
 align-items: center;
border-radius: 20%;
display: flex;
justify-content: center;
border: 1px solid #3882f6;
color: #3882f6;
font-weight: 800;
   margin-bottom: 5px;
}
.type p {
    font-size: 5px;
 
}
/* quote */
.quote{
    padding: 10%;
    background-color: #e5e7eb;
    font-size: 20px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;;
}
.cite-right{
    text-align: right;
    font-weight: 700;
}
.sign-up{
     padding: 25px 55px ;
          background-color: #f9faf8;
}
.blue-container{
    background-color: #3882f6 ;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
     color: #f9faf8;
}
 
.blue-container h4{
 margin: 0;
}
 .right-blue button{
    background-color: #3882f6 ;
    padding: 10px 20px;
     border: #f9faf8 1px solid;
     border-radius: 14px;
     color: #e5e7eb;
 }
 .left-blue{
    flex: 2;

 }
 